@model MU5PrototypeProject.Models.Client

@{
    ViewData["Title"] = "Details";
}
<body onload="Startup()">
<h1>Details</h1>

<div>
    <h2>Client</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneFormatted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientFolderUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientFolderUrl)
        </dd>      
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsArchived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsArchived)
        </dd> *@
    </dl>
</div>

<div class="mb-3">
    <a asp-controller="Session"
       asp-action="Create"
       asp-route-clientId="@Model.ID"
       class="btn btn-success">
        Create Session For This Client
    </a>
</div>

<div class="mt-2">
    @if (Model != null && !Model.IsArchived)
    {
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary me-2">Edit</a>

        <form asp-action="Archive" asp-route-id="@Model.ID" method="post" class="d-inline">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger me-2">Archive</button>
        </form>
    }
    else if (Model != null && Model.IsArchived)
    {
        <form asp-action="Unarchive" asp-route-id="@Model.ID" method="post" class="d-inline">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-warning me-2">Unarchive</button>
        </form>
    }

    <a asp-action="Index" class="btn btn-secondary">Back to Clients</a>
</div>


    <div class="modal fade" id="mymodal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <h1 class="modal-title"> Client Successfully Created </h1>
                <div class="modal-body">



                </div>
                <div class="modal-body">

                    <input type="button" value="Close" class="btn btn-danger" data-bs-dismiss="modal">

                </div>
            </div>
        </div>
    </div>

</body>
<script>

    function Startup(){

        var False = false;
        var True = true;
        var Success = @ViewData["Success"];

        if(Success){

            var myModal = new bootstrap.Modal(document.getElementById('mymodal'));
            myModal.show();
        }
    }

</script>