@model IEnumerable<MU5PrototypeProject.Models.Session>

@{
    ViewData["Title"] = "Index";
}

<h1 class="pageTitle">Sessions</h1>

<p>
    <a class="primaryButton" asp-action="Create">Create New</a>
</p>
<div class="dataBox">

    <table class="table dataTable sessionsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SessionDate)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.SessionsPerWeekRecommended)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.IsArchived)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
                <th class="actionsCol">Actions</th>
            </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SessionDate)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.SessionsPerWeekRecommended)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.IsArchived)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.Trainer.TrainerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClientName)
            </td>
            <td class="actionsCol">
                @if (item.IsArchived)
                {
                    <span class="actionLink disabledAction" aria-disabled="true">Edit</span>
                }
                else
                {
                    <a class="actionLink" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                }
                <span aria-hidden="true"> | </span>
                <a class="actionLink" asp-action="Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
